.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-size: cover;
  background-color: #2C2B2A;
  padding: 60px 0px;
  text-align: center;
}

.footer a {
  color: #1DDD88;
  font-size: 30px;
}
